name: Docker CI

on:
  push:
    branches: [ "main", "master", "beta" ]
  pull_request:
    branches: [ "main", "master", "beta" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        component: [backend, frontend]
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Docker Hub
      if: github.event_name != 'pull_request'
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push ${{ matrix.component }}
      uses: docker/build-push-action@v5
      with:
        context: ./mern-docker/${{ matrix.component }}
        push: ${{ github.event_name != 'pull_request' }}
        tags: |
          ${{ secrets.DOCKER_USERNAME }}/mern-docker-${{ matrix.component }}:latest
          ${{ secrets.DOCKER_USERNAME }}/mern-docker-${{ matrix.component }}:${{ github.sha }}
